@inherits ViewPage<List<Blog>>

@{
    ViewBag.Title = "Blogs";
}

<button class="btn btn-inverse">Create New Blog</button>


<table class="table table-hover table-bordered table-striped">
    <caption>Blogs</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr><td colspan="3">No Blogs Available</td></tr>
        }
        @foreach (var blog in Model)
        {
            <tr id="blog-row-@blog.Id">
                <td id="blog-row-@blog.Id-idcolumn">@blog.Id</td>
                <td id="blog-row-@blog.Id-namecolumn">@blog.Name</td>
                <td>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            Action
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                            <li><a href="#"><i class="icon-trash"></i>  Delete</a></li>
                            <li><a href="@Url.Content(string.Format("/posts/{0}", blog.Id))"><i class="icon-eye-open"></i> View Posts</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>